.page {
    height: 100vh;
    padding: 25px;
    color: #000;
    background: #16224c;
    box-sizing: border-box;
    font-family: 'Nunito';
  }
  
  .page-content {
    height: 100%;
    max-width: 1440px;
    display: flex;
    border-radius: 32px;
    margin: auto;
    overflow: hidden;
    flex-direction: row;
  }