.item {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    background-color: #eeeeee;
    padding: 4px 12px 4px 4px; 
    border-radius: 8px;
    font-family: 'Varela Round', sans-serif;
}

.item__popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.item__popup {
    position: absolute;
    z-index: 1200;
    font-size: 12px;
    background-color: #000000;
    opacity: 0.7;
    color: #ffffff;
    padding: 4px 12px 4px 12px;
    right: 40px;
    border-radius: 4px;
    display: none;
    user-select: none;
    text-align: center;
}

.item__popup-container:hover .item__popup {
    display: block;
}

.checkbox__wrapper {
    background-color: #DCDCDC;
    border-radius: 8px;
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    width: 32px;
    height: 32px;
    padding: 4px;
    visibility: hidden;
}

.checkbox_visible {
    visibility: visible;
}

.item_checked {
    text-decoration: line-through;
}

.item__name {
    font-weight: bold;
    margin-right: 12px;
    overflow-wrap: break-word;
    max-width: 50%;
}

.item__quantity {
    font-weight: bold;
    margin-left: auto;
    margin-right: 8px;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.item__category {
    width: 22px;
    height: 22px;
    cursor: pointer;
    padding: 4px;
    transition: opacity .3s ease;
}

.item__category:hover {
    opacity: 0.6;
}

.item__action {
    height: 22px;
    width: 22px;
    cursor: pointer;
    visibility: hidden;
}

.item__action_small {
    height: 18px;
    width: 18px;
}

.item__action-wrapper {
    padding: 6px 6px 4px 6px;
    border-radius: 50%;
}

.item__action-wrapper:hover {
    background-color: #E0E0E0;
}

.item:hover .item__action {
    visibility: visible;
}

@media screen and (max-width: 550px) {

    .item__category {
        display: none;
    }

    .item__action-wrapper {
        display: none;
    }

    .item {
        padding-right: 0;
    }

}
